---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于这里"
	description="关于"
	pubDate={new Date('11 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		这里是作为网页的关于界面，这个网页是作为tncrr.us.kg的知识库与提供帮助的地方，你可以在这里看到我们的大部分更新已经我们正在做的事情。
	</p>
</Layout>
