---
import BaseHead from '../components/BaseHead.astro';
import DocsDock from '../components/DocsDock.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<DocsDock />
		<main>
				<h1>欢迎来到我们的知识库</h1>
				<p>
					这是我们搭建的基于先进的 Astro 驱动的知识库
				</p>
				<p>
					你可以通过左侧的侧栏来浏览不同的文档和资源，如有问题请提交到我们的邮箱lu@tncrr.us.kg
				</p>
			</main>
		<Footer />
	</body>
</html>
